
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">

</head>
<body>
  
<div id="app" class="container-fluid">
	<div class="row">
		<div class="col-md-3 position-fixed">
			<div class="search-wrapper">
	    	<input type="text" v-model="search" placeholder="Search title.."/>
	    	<hr>
		    <div class="plaforms">
		    	<template>
			    	<div v-for="platform in sortedArray">
			    		<input type="checkbox" :id="platform" :value="platform" v-model="checkedPlatforms">
			     		<label :for="platform">{{platform}}</label>
			    	</div>
		    	</template>
		     	
		     	<!-- <input type="checkbox" id="SNES" value="SNES" v-model="checkedPlatforms">
		     	<label for="SNES">SNES</label>
		     	<input type="checkbox" id="SWITCH" value="SWITCH" v-model="checkedPlatforms">
		     	<label for="SWITCH">SWITCH</label> -->
		    </div>
		    <hr>
		    <div class="owned">
		    	<input type="checkbox" id="owned" value="owned" v-model="ownedBoolean">
		      	<label for="owned">owned</label>
		    </div>
		    <div class="pricerange">
		    	<input type="range" id="pricerange" min="0" max="300" step="10" v-model="pricerange">
		     	<label for="pricerange">pricerange</label>
		    </div>  
		    <div class="vendor">
		    	<select id="vendor" v-model="selectedVendor">
			    	<option v-for="vendor in vendorData">{{ vendor }}</option>
			 	</select>
			 	<label for="vendor">vendor</label>
		    </div>  
		    <hr>
		    <span class="selectedOptions">Checked platforms: {{ checkedPlatforms }} Owned: {{ownedBoolean}} pricerange: {{pricerange}} vendor: {{selectedVendor}}</span>
	    </div>
		</div>
		<div class="col-md-9 offset-md-3">
			<div class="row">
				<div class="col-md-12">
					<h2>Games</h2>	
				</div>
				<div class="col-md-12">
					<section v-if="errored">
						<div class="row">
							<div class="col-md-12">
								<p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
							</div>
						</div>
						
					</section>
					<div class="row" v-else>
						<div v-if="loading">Loading...</div>
					    <div v-else v-for="game in filteredList" class="col-md-4">
					    	<div class="card p-2">
					    		<h3>{{ game.title }} - {{ game.platform }}</h3>
						        <span>owned: {{ game.owned }}</span><br>
						        </span>playerCount: {{ game.playerCount }}</span><br>
						        </span>priceBought: {{ game.priceBought }}</span><br>
						        </span>vendor: {{ game.vendor }}</span>
					    	</div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>